*{
    margin: auto;
}

body {
    background-color: seashell;
    justify-content: center;
}

h1, p {
font-family: 'Cormorant Garamond', serif;
text-align: center;
}

.en-tete{
    margin: auto;
    position: relative; 
    background-color: white;
}

.pied-de-page{
    margin: auto;
    position: relative;
    background-color: white;

}

.logo{
    height: 100px;
    width: 100px;
    border-radius: 100px;
   }

